body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%,
    rgba(9, 121, 54, 0.5775560224089635) 100%
  );
  min-height: 100vh;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainPage{
  flex-grow: 1;
}